.body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, white, whitesmoke);
    display: flex;
    height: 200vh;
}

.landingVideo {
     width: 100%;
}

.stars{
    color: #BD460F;
}

.footer {
  width: 100%;
}

.rosewood {
        color: #65000B

}

h1 {
    color: #65000B
}

h2 {
    font-weight: 500;
    color: whitesmoke
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 700;
}

h5 {
    font-weight: 300;
}

h6 {
  font-weight: 500i;
  color: #262626;
}


  .floating-menu {
    font-family: "Poppins";
    background: #65000B;

    width: 100%;
    z-index: 100;
    position: fixed;
  }
  .floating-menu a, 
  .floating-menu h3,
  .floating-menu h1,
  .floating-menu h5 {
    display: flex;
    justify-content: center;
    color: white;
  }

  .cursors {
    cursor: url(https://tianahorn.com/images/cursor.png), auto ;
  }


/* Menu */


span {
  display: inline-block;
  vertical-align: middle;
}

ul {
  display: block;
  list-style-type: none;
  text-align: left;
}

a {
  color: #FFF;
}
a:hover {
  cursor: url(https://tianahorn.com/images/pointer.png), auto ;
  transform: rotate(45, 16, 16);

}


/* external css: flickity.css */
.container{
    margin-left: 25%;
    width:50%;
    margin-right: 25%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #EEE;

}




.gallery-cell {
  width: 50%;
  height: 200px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.flickity-button {
  background: transparent;
}
.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}


