.body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, white, whitesmoke, #FFD60A );
    display: flex;
    height: 100vh;
}

.footer {
  width: 100%;
}

h1 {
    color: #65000B
}

h2 {
    font-weight: 500;
    color: whitesmoke
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 700;
}

h5 {
    font-weight: 300;
}

h6 {
  font-weight: 500i;
  color: #262626;
}


  .floating-menu {
    font-family: "Poppins";
    background: #65000B;

    width: 100%;
    z-index: 100;
    position: fixed;
  }
  .floating-menu a, 
  .floating-menu h3,
  .floating-menu h1,
  .floating-menu h5 {
    display: flex;
    justify-content: center;
    color: white;
  }

  .cursors {
    cursor: url(https://tianahorn.com/images/cursor.png), auto ;
  }


/* Textimonial Carousel */

.rightquote {
  margin-right:20%;
  margin-left:80%;
}

.leftquote {
  margin-left:20%;
  margin-right:80%;
}

.slider {
  width: 100%;

  position:relative;

}
.slide1,.slide2,.slide3,.slide4 {
  width: 50%;
  margin-right:25%;
  margin-left:25%;
  position: absolute;

}
.slide1 {

    animation:fade infinite;
    animation-duration: 25s;
-webkit-animation:fade 25s infinite;

} 
.slide2 {

    animation:fade2 infinite;
    animation-duration: 25s;

-webkit-animation:fade2 25s infinite;
}
.slide3 {
  
    animation:fade3 infinite;
    animation-duration: 25s;

-webkit-animation:fade3 25s infinite;
}
.slide4 {

animation:fade4 infinite;
animation-duration: 25s;

-webkit-animation:fade4 25s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:1}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 1}
  60%   {opacity:0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 1}
  90%   {opacity: 0}
  100% {opacity: 0}
}

/* Menu */


span {
  display: inline-block;
  vertical-align: middle;
}

ul {
  display: block;
  list-style-type: none;
  text-align: left;
}

a {
  color: #FFF;
}
a:hover {
  cursor: url(https://tianahorn.com/images/pointer.png), auto ;
  transform: rotate(45, 16, 16);

}





